@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
    font-family: "Poppins", sans-serif;
}

nav{
    padding: 20px 10px;
    height: 15vh;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 600;
}

nav ul li a{
    color: #3b855b;
}

nav ul li img{
    width: 100px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainleft{
    width: 40%;
}

.mainleft h1{
    font-size: 60px;
}

.mainleft p{
    margin: 5% 0;
}

.mainleft button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    background-color: #3b855b;
    font-weight: 600;
    border: none;
    border-radius: 25px;
}

.mainleft button:hover{
    color: #3b855b;
    background-color: wheat;
}

.mainright{
    width: 50%;
    padding: 5%;
}

.mainright div img{
    width: 30%;
}

.mainright div img:first-child{
    margin-right: 20px;
}

.mainright div{
    margin-bottom: 20px;
}

.mainright > img{
    width: 80%;
}